<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Витрина товара</title>
</head>

<body>
<div th:if="${isAuthenticated}">
    <a href="/logout" style="float:right;"><b>ВЫЙТИ &cudarrr;</b></a>
    <a href="/orders" style="float:right;"><b>ЗАКАЗЫ &cudarrr;</b></a>
    <a href="/cart" style="float:right;"><b>КОРЗИНА &cudarrr;</b></a>
    <a href="/" style="float:right;"><b>ГЛАВНАЯ &cudarrr;</b></a>
</div>
<div th:unless="${isAuthenticated}">
    <a href="/login" style="float:right;"><b>ВОЙТИ &cudarrr;</b></a>
    <a href="/" style="float:right;"><b>ГЛАВНАЯ &cudarrr;</b></a>
</div>
<div style="width:70%;margin-left:auto;margin-right:auto;">
    <p>
        <img width="300" height="300" th:src="'data:image/jpeg;base64,' + ${item.imageBase64}">
    </p>
    <p>
        <b th:text="${item.getName()}"></b>
        <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
    </p>
    <p>
        <span th:text="${item.getDescription()}"></span>
    </p>
    <form th:action="${'/cart/items/'+item.getId()}" method="post" th:if="${isAuthenticated}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" name="form" th:value="item"/>
        <button name="action" value="MINUS" th:if="${item.getQuantity()!=0}">-</button>
        <span th:text="${item.getQuantity()}"></span>
        <button name="action" value="PLUS">+</button>
    </form>
</div>
</body>
</html>